---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "IP Allowlist"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Warning:** When IP allowlisting is enabled, only requests from allowlisted IPs can use your API keys and SMTP credentials. Ensure you add your current IP before enabling this feature to avoid being locked out.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{- if or .HasImport .HasImportIDConfig .HasImportIdentityConfig }}

## Import

{{- if .HasImport }}

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}

{{- if .HasImportIDConfig }}

Using `id`:

{{tffile .ImportIDConfigFile }}
{{- end }}

{{- if .HasImportIdentityConfig }}

Using resource identity:

{{tffile .ImportIdentityConfigFile }}
{{- end }}

{{- end }}
